#index-banner{
	min-height: 85vh
}
input{
	text-align: center !important
}
input:focus{
	border-bottom: 1px solid #ff9800 !important;
	box-shadow: 0 1px 0 0 #ff9800 !important;
}
table{
	visibility: hidden
}
tbody>tr:hover{
	color: black
}
.page-footer{
	padding: 0;
}